
:root{
    --darkGrey : #101010;
    --xx-darkGrey : #383838;
    --x-darkGrey: 	#505050;
    --normalGrey:#808080;
    --lightGrey: #D3D3D3;
    --red: #FF0000  ;
    --yellow: #f4ed13;
    --green: #0ebd66 ;
    --x-lightGrey:#fafafa;
    --font: Verdana, Geneva, Tahoma, sans-serif;
    --font-red: #EA2027;
    --font-yellow: #F79F1F;
    --font-green: #009432;
    /* --font-black: yell */
    --grey: #808080;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--x-lightGrey);
    text-align: center;
    font-family:var(--font);
}

.header{
    display: flex;
    align-items: center;
    background-color: black;
    height: 6rem;
    gap: 4%;
}

.crudButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20%;
    height: 70%;
    width: 15%;
}
.toolBox-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 22%;
    background-color: var(--x-lightGrey);
    margin-left: 4%;
    border-radius: 10px;
}

.colors{
    height: 70%;
    width: 20%;
    /* border: 1.5px solid var(--darkGrey); */
    border-radius: 10px;
    
}
.red{
    background-color: var(--red);
}
.yellow{
    background-color: var(--yellow);
}
.green{
    background-color: var(--green);
}
.grey{
    background-color: var(--grey);
    
}
.create,.delete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--x-lightGrey);
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.fa-plus , .fa-trash{
    font-size: 2rem;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;

}
.ticket-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 19rem;
    width: 18rem;
    background-color: var(--lightGrey);
    border-radius: 10px;
    margin: 2%;
    gap: 5px;
}

.ticket-color{
    height: 15%;
    margin-bottom: 3%;
    width: 100%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
/* it will be checked again */

.ticket-id{
    display: none;
}

.ticket-task-area{
    height: 78%;
    width: 95%;
    background-color: var(--x-lightGrey);
    overflow:auto;
    border-radius: 4px;
    resize: none;
    padding: 2%;
    font-size:medium;
    font-family: sans-serif;
}
.ticket-editable{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: end;
}
.fa-lock,.fa-unlock{
   padding: 1% 4% 4%;
    font-size: larger;
}

/* modal */

.modal-container{
    top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 27rem;
    width: 45rem;
    display: none;
    z-index: 1;
    /* border: 1.5px solid var(--darkGrey); */
}
.modalBtns{
    height: 100%;
    width: 24%;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.textModal{
    height: 100%;
    width: 76%;
    background-color: var(--x-lightGrey);
    font-size: x-large;
    padding: 2%;
    /* border: 1px solid var(--darkGrey); */
}
.modal-button{
    height: 15%;
    width: 70%;
    border: 1px solid var(--darkGrey);
    border-radius: 10px;
}



@media screen and (max-width : 590px) {
    .header{
        /* flex-direction: column; */
        height: 10rem;
        flex-direction: column;
        justify-content: center;
    }
    .toolBox-container{
        margin-top: 4%;
        margin-left: 0;
        flex-direction: row;
        justify-content: space-evenly;
        height: 60%;
        width: 85%;
        gap: 10px;
    }
    .colors{
        height: 80%;
        width: 20%;
    }
    .crudButtons{
        width: 60%;
        height: 45%;
        margin: 2%;
    }
    .create,.delete{
        margin-bottom: 1%;
    }

    .modal-container{
        top: 11rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 50%;
        width: 80%;
    }

    .modalBtns{
        height: 24%;
        width: 100%;
        background-color: var(--darkGrey);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .textModal{
        height: 76%;
        width: 100%;
        background-color: var(--x-lightGrey);
        font-size: x-large;
        padding: 2%;
    }
    .modal-button{
        height: 70%;
        width: 22%;
        border: 1px solid var(--darkGrey);
        border-radius: 10px;
    }
    .fa-lock,.fa-unlock{
        padding: 0.5% 4% 4%;
        font-size: x-large;
     }
     
}
.selector{
    border: 7px solid var(--x-lightGrey);
}
